<form action="../restaurant" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">
  <label for="address">Address</label>
  <input type="text" id="address" name="address">
  <input type="submit">
</form>

<a href="..">â† Back to homepage</a>
